<div class="containerX">
          <div fxLayoutGap="30px" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex
               class="coloredContainerX box">
     <div fxFlex>  <mat-card class="card-list">
  <mat-card-header>
    <mat-card-title>Comp 1</mat-card-title>
  </mat-card-header>
</mat-card>
     </div> <div fxFlex>
<mat-card class="card-list">
  <mat-card-header>
    <mat-card-title>Comp 1</mat-card-title>
  </mat-card-header>
</mat-card>
</div> <div fxFlex>
<mat-card class="card-list">
  <mat-card-header>
    <mat-card-title>Comp 1</mat-card-title>
  </mat-card-header>
</mat-card>
</div> <div fxFlex>
<mat-card class="card-list">
  <mat-card-header>
    <mat-card-title>Comp 1</mat-card-title>
  </mat-card-header>
</mat-card>
</div> 
          </div><br>
  <div fxLayoutGap="30px" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex
               class="coloredContainerX box">
<div fxFlex>
<mat-card class="card-list">
  <mat-card-header>
    <mat-card-title>Comp 1</mat-card-title>
  </mat-card-header>
</mat-card>
</div> <div fxFlex>
<mat-card class="card-list">
  <mat-card-header>
    <mat-card-title>Comp 1</mat-card-title>
  </mat-card-header>
</mat-card>
</div>
          </div></div>